@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-apple-dark bg-apple-gray;
    /* Smooth Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
  }
  .glass-dark {
    @apply bg-black/70 backdrop-blur-md border border-white/10 shadow-sm;
  }
}
